/* .background {
    background-image: url('../hangman.jpg');
    background-size: contain;
} */

h1 {
    color: #609e92;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

.game-health {
    text-align: right;
    margin-right: 200px;
}

.left-body {
    text-align: left;
    margin-left: 100px;
}

.btn-option-menu {
    text-align: left;
    display: inline;
}

.btn-keyboard {
    color: #3b3935;
    background-color: lightblue;
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    /* color: white; */
    /* display: -ms-flexbox; */
}

.btn-option-menu {
    color: #1a1918;
    background-color: #9c9891;
    padding: 13px;
    margin-top: 10px;
    margin-right: 15px;
    font-weight: bold;
    border-radius: 5px;
    /* margin-left: 50px; */
}

.btn-menu {
    margin-left: 180px;
}

#hangmanPic {
    margin-left: 10%;
}

body {
    background-image: url('../hangman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

#question {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 15%;
}

#wordSpotlight {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 18%;
}

.content-right-body {
    margin-left: 20px;
}